@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27);');

/* ------------ Main ------------ */

:root {
  --bg: black;
  --sbg: rgb(0,0,0,0.15);
  --tbg: rgb(20,20,20,0.5);
  --t: white;
  --m: #0575e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg);
  color: var(--t);
}

/* ------------ Head & Logo ------------ */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 15%;
  background-color: var(--sbg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}


#menu-icon {
  font-size: 3.5rem;
  color: var(--t);
  display: none;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background: var(--bg);
}

::-webkit-scrollbar-thumb{
  background: var(--m);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--m);
}

.logo {
  font-size: 5rem;
  color: var(--t);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: -30px 0;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  background: linear-gradient(
                270deg,
                #00f260 10%, 
                #0575e6 100%);
    background-clip: text;
    color: transparent;
}

/* ------------ Navbar ------------ */

.navbar a {
  font-size: 2rem;
  color: var(--t);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  color: var(--m);
  border-bottom: 3px solid var(--m);
}

.gradient-btn {  
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(
    270deg,
    #00f260 10%, 
    #0575e6 100%); 
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--t);
  border: none;
  text-wrap: nowrap;  
} /* text-wrap usado pra não deixar a letra vazar  */ 
  /* arrumar esse gradient urgente  */
  /* talvez colocar um weight maior  */

.gradient-btn:hover {
  transform: scale(1.1);
}

/* ------------ Section ------------ */

section {
  min-height: 100vh;
  padding: 3rem 18%; 
} /* padding usado igual em todas as section para alinhamento  */

/* ------------ About Section ------------ */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 5rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.about-content h1 {
  font-size: 7.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.about-content h3 {
  margin: 1rem 0;
  font-size: 4.5rem;
}

.about-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}

.about-img img {
  width: 480px;
  border-radius: 50%;
  box-shadow: 0 0 30px var(--m);
  transition: 0.7s ease-in-out;

}

.about-img img:hover {
  transform: scale(1.02)
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--m);
  border-radius: 50%;
  color: var(--m);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--t);
  background-color: var(--m);
  transform: scale(1.1)translateY(-5px);
  box-shadow: 0 0 20px solid var(--m);
}

.btn-group {
  display: flex;
  gap: 1.5rem;
}

.btn-group i{
  font-size: 2.1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--m);
  box-shadow: 0 0 20px solid var(--m);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: var(--t);
  border: 2px solid transparent;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px solid var(--m);
}

/* Pensar melhor */
/* .btn-group a:nth-of-type(2){
  background-color: var(--t);
  color: var(--m);
  border: 2px solid var(--m);
  box-shadow: 0 0 20px solid var(--m);
} */  

/* ------------ Heading ------------ */

.heading {
  text-align: center;
  font-size: 6rem;
  margin: 5rem 0 10rem 0;
}

/* ------------ Projects ------------ */

.projects {
  background-color: var(--sbg);
}

.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 5rem;
  row-gap: 6rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--tbg);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 1rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 25px var(--m);
  transition: 0.3s ease;
} /* olhar a box shadow direito - corrigido  */

.project-card:hover{
  transform: scale(1.02);
  box-shadow: 0 0 30px var(--m),
              0 0 40px var(--m),
              0 0 40px var(--m);
}

.project-card img{
  max-width: 300px;
  border-radius: 2rem;
  object-fit: cover;
}

.project-card h3 {
  font-size: 3rem;
}

.project-card p {
  font-size: 1.6rem;
}

/* ------------ Contact me ------------ */

.contact {
  background-color: var(--bg);
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--t);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 1rem 0;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--t);
  background-color: var(--bg);
  border-radius: 2rem;
  border: 2px solid var(--m);
  margin: 1.5rem 0;
  resize: none; 
}

footer {
  background-color: var(--tbg);
  width: 100vw;
  padding: 15px 0;
}

footer p {
  font-size: 1.8rem;
  color: var(--t);
  text-align: center;
}

footer span {
  font-size: 1.8rem;
  color: transparent;
}

@media(max-width:1480px){

  .gradient-btn{
    display: none;
  }

  .about{
    flex-direction: column-reverse;
    margin: 5rem 0 0rem 0;
    gap: 5rem;
    padding-bottom: 0;
  }
  
  .about-content{
    align-items: center;
    text-align: center;
  }

  .about-img img{
    max-height: 40vw;
    max-width: 30vw;
  }

  .about-content h1{
    font-size: 6rem; 
  }

  .about-content h3{
    font-size: 3.5rem; 
  }

  .about-content p{
    font-size: 1.8rem; 
  }

  .about-img img{
    width: 56vw;
  }
}

@media(min-width:2000px){

    .gradient-btn{
      display: none;
    }
  
    .about{
      flex-direction: column-reverse;
      margin: 5rem 0 0rem 0;
      gap: 5rem;
      padding-bottom: 0;
    }
    
    .about-content{
      align-items: center;
      text-align: center;
    }
  
    .about-img img{
      max-height: 20vw;
      max-width: 20vw;
    }
  
    .about-content h1{
      font-size: 6rem; 
    }
  
    .about-content h3{
      font-size: 3.5rem; 
    }
  
    .about-content p{
      font-size: 1.8rem; 
    }
  
    .about-img img{
      width: 56vw;
    }
  }